.sms-form {
  text-align: center;
  padding: 4em;
}

.sms-form label {
  display: block;
  font-size: 1.2em;
  text-align: left;
  margin-bottom: 0.5em;
  margin-top: 2em;
}
.sms-form input,
.sms-form textarea {
  font-size: 1em;
  width: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;

}
.sms-form div {
  margin-bottom: 0.5em;
}
.sms-form button {
  font-size: 1em;
  width: 40%;
  /* set corner radius */
  border-radius: 0.75em;
  
}
.sms-form.error {
  outline: 2px solid #f00;
}

section{
  width: 30%;
  /* make it be in center */
  margin: 0 auto;
  /* make it be in center */
  text-align: center;
gap: 10px;


}
